.container {
    width: 60%;
    height: 97vh;
    margin-left: 20%;
    margin-top: 1.5vh;
    border: 2px solid grey;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid grey;
}

.arrow {
    cursor: pointer;
}

.countryName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.countryName h1 {
    margin-left: 10px;
}

.universities {
    height: 87vh;
    overflow-y: scroll;
}

.universities h4 {
    text-align: center;
    margin-top: 28%;
}

.universities::-webkit-scrollbar {
    width: 7px;
    /* background-color: aqua; */
}

.universities::-webkit-scrollbar-thumb {
    background-color: grey;
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
        height: auto;
        margin: 0;
        border: none;
        position: relative;
    }

    .header {
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        height: 6vh;
        background-color: #f0f0f0;
        
    }

    .header h1 {
        font-size: 1.3rem;
    }

    .header p {
        font-size: .7rem;
    }

    .universities {
        width: 100%;
        margin-top: 10vh;
        height: auto;
        overflow-y: visible;
        font-size: .8rem;
    }
}
